<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head"></head>
<body>
	  <header th:replace="layout/header :: header"></header>
	  <div class="container main-p py-4">
	  	<div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4" th:text="'No hay articulos asignadas para el cliente ' + ${cliente.username}"></div>
		<table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-spired my-4 tab-detalle">
			<thead>
				<tr>
					<td>Nº Factura:</td>
					<td>Descripción:</td>
					<td>Fecha:</td>
					<td>Total:</td>
					<td>Detalle</td>
					<td>PDF</td>
				</tr>		
			</thead>
			<tbody>
				<tr th:each="factura: ${cliente.facturas}">
					<td class="td-fac" th:text="${factura.id}"></td>
					<td class="td-fac" th:text="${factura.descripcion}">:</td>
					<td class="td-fac" th:text="${factura.createFac}"></td>
					<td class="td-fac" th:text="${factura.facturaTotal}"></td>
					<td class="td-fac td-det" sec:authorize="hasRole('ROLE_USER')">
						<a class="btn btn-success btn-xs btn-detalle" th:href="@{'/usuario/verDetalleFactura/' + ${factura.id}}" th:text="'Detalle pedido'"></a>
					</td>
					<td>Ver Factura</td>				
				</tr>
			</tbody>		
		</table>
</div>
<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>