<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>
	<header th:replace="layout/header :: header"></header>
	<div class="container main-p py-4">
		<form th:action="@{/factura/form/}" th:object="${factura}" method="post">
			<div th:if="${#lists.isEmpty(factura.items)}" class="alert alert-info my-4" th:text="'No hay articulos asignadas para el cliente ' + ${factura.usuario.username}"></div> 
			<table th:if="${not #lists.isEmpty(factura.items)}" class="table table-bordered table-spired my-4">
				<tbody>
					<tr th:each="item: ${factura.items}">
						<th>Imagen</th>		
					</tr>
				</tbody>
			</table>	
		</form>			
	</div>
	<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>