@charset "ISO-8859-1";
.bg-main{
	background-color: rgba(0,0,0,.075)!important;	
}
.img-logo{
	width: 100px;	
}
.img-p{
	width: 25%;
}
.img-logo-footer{
    width: 155px;
    background-color: currentColor;
    border-radius: 2.3em;
}
.item-u{
	cursor: pointer;
	border-radius: 4px;
}
.span-items{
	position: absolute;
	width: 25px;
	height: 25px;    
    top: 27px;
    right: -7px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #fff;
    background: radial-gradient(ellipse at center,#0fc9e6f0 1%,#17a2b8e8 98%,#fff 0,#fff 100%,#fff 0);
    text-align: center;
    font-family: Open Sans,arial,sans-serif;
    font-weight: 700;
    color: antiquewhite;
}
.item-u:hover{
	background-color:  darkgray;	
}
.main-p{
	max-width: 100%;
}
.main-g{
	max-width: 75%;
}
.span-p{
	float: left;
    line-height: 2.2em;
    margin: 5px;
}
.select-p{
	margin-top: 12px;
}
.btn-cambio{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border: none;
    background: transparent;
    cursor: pointer;
    margin: 5px;
   
    height: 30px;
    border-radius: 3px;
}
.btn-cambio:hover{
	 background: lightgrey;
}
.btn-cambio:active{
	 border: none;
}
#div1{
	z-index:2;	
}
#div2{	
	z-index:1;	
}
.info-p{
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
}
.info-content{
	margin-top: 5px;
}
.form-f{
	width: 80%;
    margin: auto;
}
.th-fac{
	vertical-align: inherit;
	border: none;
}