@charset "ISO-8859-1";
.bg-main{
	background-color: rgba(0,0,0,.075)!important;	
}
.img-logo{
	width: 100px;	
}
.main-p{
	max-width: 100%;
}
.main-g{
	max-width: 75%;
}
.span-p{
	float: left;
    line-height: 2.2em;
    margin: 5px;
}
.select-p{
	margin-top: 12px;
}