@charset "ISO-8859-1";
.bg-main{
	background-color: rgba(0,0,0,.075)!important;	
}
.img-logo{
	width: 100px;	
}
.img-p{
	width: 25%;
}
.img-logo-footer{
    width: 155px;
    background-color: currentColor;
    border-radius: 2.3em;
}
.item-u{
	cursor: pointer;
	border-radius: 4px;
}
.span-items{
	position: absolute;
	width: 25px;
	height: 25px;    
    top: 27px;
    right: -7px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #fff;
    background: radial-gradient(ellipse at center,#0fc9e6f0 1%,#17a2b8e8 98%,#fff 0,#fff 100%,#fff 0);
    text-align: center;
    font-family: Open Sans,arial,sans-serif;
    font-weight: 700;
    color: antiquewhite;
}
.item-u:hover{
	background-color:  darkgray;	
}
.main-p{
	max-width: 100%;
}
.main-g{
	max-width: 75%;
}
.span-p{
	float: left;
    line-height: 2.2em;
    margin: 5px;
}
.span-p-det{
	line-height: 2.2em;
    margin: 5px;
}
.span-stock{
	font-size: 50%;
}
.select-p{
	margin-top: 12px;
}
.btn-cambio{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border: none;
    background: transparent;
    cursor: pointer;
    margin: 5px;
   
    height: 30px;
    border-radius: 3px;
}
.btn-cambio:hover{
	 background: lightgrey;
}
.btn-cambio:active{
	 border: none;
}
#div1{
	z-index:2;	
}
#div2{	
	z-index:1;	
}
.info-p{
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
}
.info-content{
	margin-top: 5px;
}
.form-f{
	width: 80%;
    margin: auto;
}
.th-fac{
	vertical-align: inherit;
	border: none;
}
.td-fac{
	vertical-align: initial;
}
.td-det{
	width: 12%;
}
.disabled-btn{
	pointer-events:none;
	opacity: 0.5;
}
.btn-detalle{
	line-height: 0.85;
}
.tab-detalle{
	width: 80%;
	margin: auto;
}
.td-img-wrap{
	width: 15%;
}
.td-det-img{
	width: 65%;
}
.tr-det-item{
	border-bottom: 1px dashed #cbcbcb;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
/*
*Bloque CSS para mostrar las estrellas de la media de la valoracion del producto
*
*/
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper span {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 26px;	
	color: #888;
}
.btn-save-u{
	float: right;
	margin-top: 1rem;
}
.a-save-u{
	float: left;
	margin-top: 1rem;
}
.main-u{
	max-width: 50%;
}
.btn-p-mod{
	margin-left: 15px;
}