@charset "ISO-8859-1";
.bg-main{
	background-color: rgba(0,0,0,.075)!important;	
}
.img-logo{
	width: 100px;	
}
.img-logo-footer{
    width: 155px;
    background-color: currentColor;
    border-radius: 2.3em;
}
.main-p{
	max-width: 100%;
}
.main-g{
	max-width: 75%;
}
.span-p{
	float: left;
    line-height: 2.2em;
    margin: 5px;
}
.select-p{
	margin-top: 12px;
}
.btn-cambio{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border: none;
    background: transparent;
    cursor: pointer;
    margin: 5px;
   
    height: 30px;
    border-radius: 3px;
}
.btn-cambio:hover{
	 background: lightgrey;
}
.btn-cambio:active{
	 border: none;
}
#div1{
	z-index:2;	
}
#div2{	
	z-index:1;	
}
.info-p{
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
}
.info-content{
	margin-top: 5px;
}