<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head :: head"></head>
<head></head>
<body>

	<header th:replace="layout/header :: header"></header>

	<div class="container py-4">

		<div class="card border-primary text-center">
			<div class="card-header">Por favor Registrate</div>
			<div class="card-body">

				<form th:action="@{/save}" th:object="${usuario}" method="post">

					<div class="form-group col-sm-6">
						<input type="text" name="username" th:field="*{username}" id="username" class="form-control" placeholder="Nick de Usuario" th:errorclass="'form-control alert-danger'" autofocus required />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
					</div>

					<div class="form-group col-sm-6">
						<input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
					</div>
					<div class="form-group col-sm-6">
						<div class="panel panel-default ">
						  <div class="panel-heading info-p">Información personal</div>
						  <div class="panel-body info-content">
						  		<input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre de Usuario"  required />		
						  </div>
						   <div class="panel-body info-content">
						  		<input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos"  required />		
						  </div>
						   <div class="panel-body info-content">
						  		<input type="text" name="email" id="email" class="form-control" placeholder="Email"  required />		
						  </div>
						   <div class="panel-body info-content">
						  		<input type="text" name="direccion" id="direccion" class="form-control" placeholder="Dirección"  required />		
						  </div>
						   <div class="panel-body info-content">
						  		<input type="text" name="telf" id="telf" class="form-control" placeholder="Teléfono"  required />		
						  </div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<input type="submit" class="btn btn-lg btn-primary btn-block" value="Crear cuenta" />
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

				</form>

			</div>

		</div>


	</div>


	<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>