<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head"></head>
<body>
	  <header th:replace="layout/header :: header"></header>
	<div class="container main-p py-4">
		<h1>Página Principal</h1>
	
		<div class="row content">
			<!-- Bloque para las categorias  -->
			<div class="col-sm-3 sidenav">
				<ul class="nav-pills nav-stacked">
					
						<li th:each="cat: ${categorias}" class="left-li-menu">
							<span class="${cat.logo}"></span>
								<a class="btn  left-btn-menu" th:text="${cat.nombre}" th:href="@{/} + ${cat.id}"></a>
						</li>
					
				</ul>
				<br>

			</div>

		<!-- Bloque para los productos  -->
		<div class="row col-sm-9">
			<div th:each="producto: ${prodcutos}" class="col-xs-12 col-sm-6 col-md-3">
						<!-- src="${urlPublic}/images/${pelicula.imagen}" -->
						<img th:if="${#strings.length(producto.img) > 0}" class="img-rounded img-thumbnail" th:src="@{'/uploads/' + ${producto.img}}" th:alt="${producto.img}" width="150" height="200">
						<h6 th:text="${producto.nombre}"></h6>
						<h4>
							<span class="label label-default" th:text="${producto.precio} + €">precio</span> <br />
							<span class="label label-default" th:text="${producto.categoria.nombre}">categoria</span>  <br />
							<span class="label label-default">Valoración</span>
						</h4>
						<p>
							<a class="btn btn-sm btn-primary" th:href="@{/car/} + ${producto.id}" role="button" th:value="${producto.id}">Añadir al Carro</a>							
						</p>
			</div>
		</div>						
		</div>
	</div>


	 <footer th:replace="layout/footer :: footer"></footer>
</body>
</html>